<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.feup.cmov.customerapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".app.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.RegisterActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".app.PerformancesActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".app.TicketActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".app.OwnedTicketsActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".app.CafeteriaActivity"
            android:launchMode="singleTask" />
        <activity android:name=".app.OrderQrActivity"
            android:launchMode="singleTask" />
        <activity android:name=".app.LastyTransactionsActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>